@import "variables";

.container {
  display: flex;
  flex-direction: column;
}

.intro {
  font-weight: bolder;
  text-align: left;
  margin: $margin-base 0 $margin-base 0;
}

.paragraph-title {
  color: $primary-color;
  margin-bottom: $margin-title-bottom;
}

.intro-text {
  font-size: $font-size-intro;
  margin-bottom: $margin-title-bottom;
}

.education-container {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  margin: $margin-base 0 $margin-base 0;
}

.edu-detail {
  background-color: $gray-light;
  margin-bottom: $margin-base;
  padding: $padding-border;
  font-weight: bolder;
  width: $detail-width;
}

.detail-title {
  font-weight: bolder;
  padding: $padding-base;
  font-size: $font-size-title;
}

.details {
  padding: $padding-base;
  font-size: $font-size-intro;
}

.year {
  font-size: $font-size-base;
}
